<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>internDetail_update</servlet-name>
        <servlet-class>src.internDetail_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reference</servlet-name>
        <servlet-class>src.reference</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>interDel_update</servlet-name>
        <servlet-class>src.interDel_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reference_update</servlet-name>
        <servlet-class>src.reference_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>src.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>qulia_update</servlet-name>
        <servlet-class>src.qulia_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>awardsAchi_update</servlet-name>
        <servlet-class>src.awardsAchi_update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>internDetail_update</servlet-name>
        <url-pattern>/internDetail_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reference</servlet-name>
        <url-pattern>/reference</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>interDel_update</servlet-name>
        <url-pattern>/interDel_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reference_update</servlet-name>
        <url-pattern>/reference_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>qulia_update</servlet-name>
        <url-pattern>/qulia_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>awardsAchi_update</servlet-name>
        <url-pattern>/awardsAchi_update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
